.content-wrapper {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    color: red;
    font-size: 24px;
}

dt {
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-bottom: 10px;
}

.form-actions {
    margin-top: 20px;
    text-align: center;
}

.btn-custom {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-custom:hover {
        background-color: #218838;
    }

.btn-secondary-custom {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-secondary-custom:hover {
        background-color: #0056b3;
        color: white;
    }
